.idea
books_api/mydatabase
*.pyc
*.pyo
.installed.cfg
bin
develop-eggs
dist
downloads
eggs
parts
src/*.egg-info
lib
lib64
.installed.cfg
bin
develop-eggs
dist
downloads
eggs
parts
__pycache__/

src/*.egg-info
lib
lib64

